# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [12]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..','lesson-02', 'code', 'ozone.csv'))

In [13]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..','lesson-02', 'code', 'ozone.csv'))
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [28]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..','lesson-02', 'code', 'ozone.csv'))
print data.columns[0]
print data.columns[1]
print data.columns[2]
print data.columns[3]
print data.columns[4]
print data.columns[5]

#is there a way to avoid the repeating commands

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [30]:
print data.loc[0:1]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [ ]:
Two

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [31]:
print data.loc[len(data)-2:len(data)-1]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [75]:
print data.loc[46,'Ozone']

21.0

How many missing values are in the Ozone column of this data frame?

In [46]:
print len(data)

data.info()

#is there a way to only show the requested info

153
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [80]:
data.describe()

#is there a way to only show requested info

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [82]:
data2 = data[data.Ozone > 31]
data3 = data2[data2.Temp > 90]
data3['Solar.R'].mean()

# is there a way to condense the code?

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [83]:
data4 = data[data.Month == 6]
data4['Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [81]:
data5 = data[data.Month == 5]
data5['Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas